@import url("theme.css");

@font-face {
  font-family: Modernist-Milk;
  src: url('../font/Modernist-Milk.otf');
}

*  {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-family: Modernist-Milk, sans-serif;
}

.btn {
  font-weight: bold;
  padding-block: 0.5em;
  transition: all .2s ease-in-out;
}

.btn:hover {
  transform: scale(0.98)
}

a:hover {
  text-decoration: none;
}

.navbar-brand {
  font: 1.5em Modernist-Milk, Arial, sans-serif;
  margin: 0;
}

.nav-link.active {
  font-weight: bold;
}

.jumbotron {
  margin: 0;
  padding: 2rem 1rem;
  background-color: #e9ecef;
}

/* .menu-image {
  display: none;
} */

@media (min-width: 75rem) {
  .dashboard {
    display: flex;
  }
  p {
    font-size: 1.25em;
  }
  /* .menu-image {
    display: block;
  } */
}